
<nav class="navbar " id="main-navbar">
        <a id="logo" href="/">
                <div>
                    <img src="/img/logo.png" alt="logo">
                <p id="logo-title">AskDev</p>    
                </div>
        </a>
</nav>